body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
/* sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-sections {
  background-color: #fff;
  color: black;
}
/* container */
.container-fluid {
  padding: 3% 15%;
}
/* title */

#title {
  text-align: left;

  clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%);
}
h1,
h2,
h3 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 600;
}
h1 {
  size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
#title.container-fluid {
  padding: 3% 15% 7%;
}
.image1 {
  transform: rotate(20deg);
  width: 60%;
}
.navbar {
  padding: 0 0 4.5rem;
}

/* navigation bar */
.navbar-brand {
  font-family: "Uduntu";
  font-size: 1.7rem;
  transform: rotate(-10deg);
  position: absolute;
  left: 0;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}
/* buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.fas {
  color: #da7a69;
  font-size: 4rem;
  width: 100%;

  padding-bottom: 2rem;
}
.fas:hover {
  color: rgb(255, 0, 76);
  cursor: pointer;
}
#features {
  margin-top: -5rem;
}
/* testimonal sec */
#testimonials {
  background-color: #da7a69;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  padding-bottom: 2rem;
  background-color: #ef8172;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-control-prev {
  width: 5%;
  background-color: transparent;
  border: none;
}
.carousel-control-next {
  width: 5%;
  background-color: transparent;
  border: none;
}

.carousel-indicators-btn {
  border: none;
  opacity: 0.5;
  width: 25px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.card {
  height: 100%;
}

.list-unstyled {
  height: 50%;
}
.pricing-header {
  margin: 6rem auto 3rem auto;
}
.col {
  padding: 2% 3%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .image1 {
    position: static;
    width: 30%;
    transform: rotate(0);
  }
}
#cta {
  padding-top: 5%;
}
.cta-title {
  font-size: 3rem;
  width: 80%;
  margin: 0 auto;
}

.footer-icon {
  margin: 20px 10px;
}
